name: Test
on: [push]
jobs:
  TypeScript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install --save-dev vitest
      - run: npm install --save-dev typescript
      - run: npm install --save-dev @types/node
      - run: npm test
